<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @session.token %>
</p>

<p>
  <strong>Date:</strong>
  <%= @session.date %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @session.id_user %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
